*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
  font-family: sans-serif;
}

/*Styling header*/

.header{
    background-color: #00bfb1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

/*Handling main page by using flexbox*/

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 570px;  
}

/*Styling left page*/

.aside{

    flex: 0 0 20vw;
    background-color: #6add68;
}

.aside-content{
    text-align: center;
}

.article-heading{

   text-align: center;
}

/*Stylinh right-page*/
.article{

    background-color: #fdb140;  
    flex: 1;
    display: flex;
    align-items: flex-end;
}

/*Making and Styling a span comprising of right page*/

.right-page{
    width: 100%;
    flex: 1;
}


/*Handling and Positioning the images on right page*/
.img-container{
    
    display: flex;
    justify-content: space-around;
    margin: 100px 0 40px 0;
}

/*Styling the images*/

.img{
    background-color: #fdd339;
    padding: 75px 75px;
    border-radius: 5px;
    /*background-image: url(./03.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
  
}

/*Styling the footer of the page*/

.footer{
    background-color: #00bfb1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

/*End of CSS*/